{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Induction{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<header class="sticky-header">
  <div class="header-left">
    <div class="logo">
      <img src="{% static 'main/inductionlogo.jpg' %}" alt="Induction Logo">
    </div>
    <h1>Cosmos</h1>
  </div>
  <div class="user-info">
    {% if request.user.is_authenticated %}
      <span>{{ request.user.username }}</span>
      <span><a href="{% url 'main:home' %}">Home</a></span>
      <span><a href="{% url 'main:options' %}">Options</a></span>
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
  </div>
</header>
    <!-- Messages block -->
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Cosmos</p>
    </footer>
</body>
</html>