{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ community.name }}{% endblock %}

{% block content %}
<h1>{{ community.name }}</h1>
{% if community.description %}
  <p>{{ community.description }}</p>
{% endif %}


<h2>Community Calendar</h2>
<div class="cal-wrap">

  <div class="cal-header">
    <div id="weekLabel" class="cal-title"></div>

    <div class="cal-nav">
      <button class="view-btn" data-view="day" onclick="setView('day')">Day</button>
      <button class="view-btn" data-view="week" onclick="setView('week')">Week</button>
      <button class="view-btn" data-view="month" onclick="setView('month')">Month</button>
      <button onclick="changeWeek(-1)">← prev</button>
      <button onclick="changeWeek(0)">Today</button>
      <button onclick="changeWeek(1)">next →</button>
    </div>
  </div>

  <div class="calendar">

    <!-- weekly view -->
    <div id="calendarHeader" class="calendar-header"></div>
    <div id="allDayGrid" class="all-day-grid"></div>

    <div id="calendarScroll">
        <div id="calendarBody" class="calendar-body"></div>
    </div>

    <!-- monthly view -->
    <div id="weekGrid" class="week-grid" style="display:none"></div>

  </div>

</div>
<div id="modal" style="display:none"></div>
<script>
window.COMMUNITY_ID = {{ community.id }};
</script>
<div class="spacer"></div>
<h2>Members</h2>
<ul>
    {% for member in community.members.all %}
    <li>
        {{ member.profile.nickname }} {% if member == community.admin %}(admin){% endif %}
    </li>
    {% endfor %}    
</ul>       
{% if community.admin == request.user %}
  <a href="{% url 'main:invite_users' community.id %}">Invite Users</a>

{% endif %}
<div class="spacer"></div>
{% if community.admin == request.user %}
  <p><a href="{% url 'main:community_settings' community.id %}">Edit community settings</a></p>
{% endif %}
<script src="{% static 'main/calendar_core.js' %}"></script>
<script src="{% static 'main/calendar_community.js' %}"></script>

{% endblock %}