{% extends 'main/base.html' %}
{% block title %}{{ community.name }}{% endblock %}
{% block content %}
<h1>{{ community.name }}</h1>

 {% if community.admin == request.user %}
                <a href="{% url 'main:delete_community' community.id %}" class="warning-link" onclick="return confirm('Are you sure you want to delete this community?');">Delete Community</a>
            {% else %}
                <a href="{% url 'main:leave_community' community.id %}" class="warning-link" onclick="return confirm('Are you sure you want to leave this community?');">Leave Community</a>
            {% endif %}
            
{% endblock %}