{% extends 'main/base.html' %}
{% load static %}
{% block title %}Cosmos{% endblock %}

{% block content %}
<h4 align="center">Welcome, {% if request.user.profile.nickname %}{{ request.user.profile.nickname }}{% else %}{{ request.user.username }}{% endif %}!</h4>
<div class="spacer"></div>
<h2> Your Calendar </h2>
<div class="cal-wrap">

  <div class="cal-header">
    <div id="weekLabel" class="cal-title"></div>

    <div class="cal-nav">
      <button class="view-btn" data-view="day" onclick="setView('day')">Day</button>
      <button class="view-btn" data-view="week" onclick="setView('week')">Week</button>
      <button class="view-btn" data-view="month" onclick="setView('month')">Month</button>
      <button onclick="changeWeek(-1)">← prev</button>
      <button onclick="changeWeek(0)">Today</button>
      <button onclick="changeWeek(1)">next →</button>
    </div>
  </div>

  <div class="calendar">

    <!-- weekly view -->
    <div id="calendarHeader" class="calendar-header"></div>
    <div id="allDayGrid" class="all-day-grid"></div>

    <div id="calendarScroll">
      <div id="calendarBody" class="calendar-body"></div>
    </div>

    <!-- monthly view -->
    <div id="weekGrid" class="week-grid" style="display:none"></div>

  </div>

</div>
<div id="modal" style="display:none"></div>
<script src="{% static 'main/calendar_core.js' %}"></script>
<script src="{% static 'main/calendar_home.js' %}"></script>
<div class="spacer"></div>
<h2 align="center">Your Communities</h2>
    <ul>
        {% for community in communities %}
        <li>
            <a href="{% url 'main:community_detail' community.id %}">{{ community.name }}</a>

        </li>
        {% empty %}
        <li>You are not a member of any community yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'main:create_community' %}">Create a New Community</a>
<h2 align="center">Community Invites</h2>
<ul>
    {% for community in invited_communities %}
    <li>
        {{ community.name }} - 
        <a href="{% url 'main:join_community' community.id %}">Accept</a> | 
        <a href="{% url 'main:decline_invite' community.id %}">Decline</a>
    </li>
    {% empty %}
    <li>You have no pending community invites.</li>
    {% endfor %}
{% endblock %}